<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <head>
  <title>Create Your Own Event!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
        $(document).ready(function() {
                $(".error").load(function() {
                        if($(this).val() != ''){
                                $(this).show();
                        } else {
                                $(this).hide();
                        }
                });
        });
  </script>  
  </head>

<body>
<h1>Create Your Own Event!</h1>

<div class=".error" value={{error}}><font color="red">{{error}}</font></div>
<form method="POST" action="/create-event-add">
<p>Name: <input type="text" name="name"></p>
<p>Field: <input type="text" list="fields"  name="field">
  <datalist id="fields">
    {% for field in fields %}
    <option>{{field.field}}</option>
    {% endfor %}
  </datalist></p>
<p>Organization: 
  <select name="organization">
    {% for organization in organizations %}
    <option>{{organization.name}}</option>
    {% endfor %}
  </select></p>
<p>Venue: 
  <select name="venue">
    {% for venue in venues %}
    <option>{{venue.name}}</option>
    {% endfor %}
  </select></p>
<p>Description: <input type="text" name="description"></p>
<p>Start Time (YYYY-MM-DD HH:MM:SS): <input type="text" name="start-time"></p>
<p>End Time (YYYY-MM-DD HH:MM:SS): <input type="text" name="end-time"></p> 
<div><input type="submit" value="Create Now!"></form><form method="GET" action="/"><input type="submit" value="Cancel"></form></div>

</body>


</html>
