<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>Create Your Own Event!</h1>

<form method="POST" action="/create-event-add">
<p>Name: <input type="text" name="name"></p>
<p>Field: <input type="text" name="field"></p>
<p>Organization: <input type="text" name="organization"></p>
<p>Venue: <input type="text" name="venue"></p>
<p>Description: <input type="text" name="description"></p>
<p>Start Time (YYYY-MM-DD HH:MM:SS): <input type="text" name="start-time"></p>
<p>End Time (YYYY-MM-DD HH:MM:SS): <input type="text" name="end-time"></p> 
<input type="submit" value="Create Now!">
</form>

</body>


</html>
