<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <form method="GET" action="/"><input type="submit" value="Back to Home Page"></form>
  <h1>{{info.name}}</h1>
  <h3>Hosted by: {{host}}</h3>
  <h3>Field: {{info.field}}</h3>
  <h3>Start Time: {{info.start_time}}</h3>
  <h3>End Time: {{info.end_time}}</h3>
  <h3>Location: {{venue.name}}</h3><p>{{venue.address}}</p>
  <p>Descripton: {{info.description}}</p>
  <div>
    <h3>RSVPed students (<span style="font-weight:bold;">{{stu_count}}</span> in total)</h3>
    {% for n in students %}
    <p><span style="font-weight:bold">{{n.name}}</span>, {{n.year}} studying {{n.field}}</p>
    {% endfor %}

    <h3>RSVPed recruiters (<span style="font-weight:bold;">{{rec_count}}</span> in total)</h3>
    {% for n in recruiters %}
    <p><span style="font-weight:bold">{{n.name}}</span>, {{n.position}} from {{n.company}} recruiting for:</p>
    <ul style="list-style-type:disc;">
      {% for prof_opp in n.prof_opps %}
      <li><a href="/prof-opp/{{prof_opp['pid']}}">{{prof_opp['name']}}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}

</body>


</html>
