<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Campus Events</h1>
  <a href='/create-event'><h3>Post Your Own Event</h3></a>
  <h4>Filter by field: </h4><ul>
    <li><p><a href='/'>all</a></p></li>
    {% for field in fields %}
    <li><p><a href='/{{field.field}}'>{{field.field}}</a></p></li>
    {% endfor %}
  </ul>
  <div></div>
  <div>
    {% for event in events %}
    <div>
        <a href="event/{{event.eid}}"><h3>{{event.name}}</h3></a>
	<p>Field: {{event.field}} - Start Time: {{event.start_time}}</p>
	<p>{{event.description}}</p>
	{% if event.outdated == "False" %}
          <a href="rsvp/{{event.eid}}">RSVP</a>
        {% else %}
          <em>Event has expired</em>
        {% endif %} 
    </div>
    {% endfor %}
  </div>

</body>


</html>
