<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <head>
  <title>{{rec.name}}</title>
  </head>

<body>
  <h1>{{rec.name}}'s profile </h1>
  <h3><span style="font-weight:bold;">Company: </span>{{rec.company}}</h3>
  <h3><span style="font-weight:bold;">Field: </span>{{rec.field}}</h3>
  <h3><span style="font-weight:bold;">Position: </span>{{rec.position}}</h3>
  <p>Reach out to this recruiter on these events:</p><ul>
    {% for event in events %}
    <li><a href='/event/{{event.eid}}'>{{event.start_time}}: {{event.name}}</a></li>
    {% endfor %}
  </ul>
  <p>Events attended in the past:</p><ul>
    {% for event in past_events %}
    <li><a href='/event/{{event.eid}}'>{{event.start_time}}: {{event.name}}</a></li>
    {% endfor %}
  </ul>
  <p>Professional Opportunities Currently Recruiting for:</p><ul>
    {% for prof_opp in prof_opps %}
    <li><a href='/prof-opp/{{prof_opp.pid}}'>{{prof_opp.name}}: {{prof_opp.job_type}} at {{rec.company}}</a></li>
    {% endfor %}
  </ul>
  <p><a href="/create-job/{{rec.rid}}">Post new positions</a></p>
  <form method="GET" action="/"><input type="submit" value="Back to Home Page"></form>

</body>


</html>
