<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>RSVP for {{name}}</h1>

<form method="POST" action="/rsvp-add">
<p>Name: <input type="text" name="name"></p>
<p>Field: <input type="text" name="field"></p>
<p>Identity: <input type="text" name="identity"></p> 
<p>UNI: <input type="text" name="uni"></p>
<p>Year: <input type="text" name="year"></p>
<p>Phone: <input type="text" name="phone"></p> 
<p>Company: <input type="text" name="company"></p> 
<p>Position: <input type="text" name="position"></p>
<input type="hidden" name="eid" value="{{eid}}">
<input type="submit" value="RSVP Now!">
</form>

</body>


</html>
