<html>
<style>
  body{ 
    font-size: 15pt;
    font-family: arial;
  }
</style>
<head>
<title>JobEvity</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
        $("#identity-select").change(function() {
                if($(this).val() == "student"){
                        $(".student").show();
                        $(".recruiter").hide();
                } else {
                        $(".student").hide();
                        $(".recruiter").show();
                }
        });
	$("#identity-select").ready(function() {
                if($(this).val() == "student"){
                        $(".student").show();
                        $(".recruiter").hide();
                } else {
                        $(".student").hide();
                        $(".recruiter").show();
                }
        });
});
</script>

</head>

<body>
<h1>RSVP for {{name}}</h1>

<form method="POST" action="/rsvp-add">
<p>Identity: <select id="identity-select" name="identity">
  <option value="student">student</option>
  <option value="recruiter">recruiter</option>
</select></p>
<div>Name: <input type="text" name="name"></div>
<div>Field: <input type="text" name="field", list="fields"><datalist id="fields">
  {% for field in fields %}
  <option>{{field.field}}</option>
  {% endfor %}
</datalist></div>
<div class="student">UNI: <input type="text" name="uni"></div>
<div class="student">Year: <select name="year">
  <option>freshman</option>
  <option>sophomore</option>
  <option>junior</option>
  <option>senior</option>
</select></div>
<div class"student">Phone: <input type="text" name="phone"></div> 
<div class="recruiter">Company: <input type="text" name="company"></div> 
<div class="recruiter">Position: <input type="text" name="position"></div>
<input type="hidden" name="eid" value="{{eid}}">
<input type="submit" value="RSVP Now!">
</form>

</body>


</html>
